{{#if notice}}
  <div class="col-12">
    <div class="alert alert-success">{{notice}}</div>
  </div>
{{/if}}
{{#if error}}
  <div class="col-12">
    <div class="alert alert-warning">{{error}}</div>
  </div>
{{/if}}