<nav class="container-fluid">
  <div class="row w-100 text-center align-items-center border-bottom py-3">
    <div class="col-md-4 mb-2">
      <a href="https://www.charuwts.com/plugins/ucrm-signup" target="_blank"><img src="https://s3.amazonaws.com/charuwts.com/images/charuwts-logo.png" alt="charuwts logo" class="mx-auto fit-image logo-image"></a>
    </div>
{{!--     <div class="col-md-5 text-center">
      {{#link-to 'admin.language-settings' class="btn btn-secondary my-1"}}Language Settings{{/link-to}}
      {{#link-to 'admin.service-filters' class="btn btn-secondary my-1"}}Service Filters{{/link-to}}
      {{#link-to 'admin.plugin-config' class="btn btn-secondary my-1"}}Plugin Config{{/link-to}}
    </div>
 --}}    <div class="col-md-3 align-self-end text-center pb-1">
      {{#link-to "admin.plugin-config" class="navbar-brand"}}<div class="plugin-name">UCRM Signup Plugin</div>{{/link-to}}
    </div>
  </div>
</nav>